{% extends 'scheduler/base.html' %}
{% block content %}
<link rel="stylesheet" href="../static/scheduler/css/home.css">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron custom-jumbotron">
    <div class="container">
      <h1 class="display-3">Unofficial Nespresso RTO Scheduler (v 1.5)</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    {% for boutique in boutiques %}
    <div class="row">
        {% comment %} <button class="btn btn-outline-primary boutique-button"></button> {% endcomment %}
        <a href="{% url 'scheduler:index' pk=boutique.id %}" class="boutique-button btn btn-outline-primary">{{boutique.name}}</a>
    </div>
    {% endfor %}
  </div>

  {% comment %} <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-6">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>

    </div>

    <hr>

  </div> <!-- /container --> {% endcomment %}

</main>


  



  <footer class="container d-flex justify-content-end">
    <p>Wassem "Wilbur" Elbouni - 2023</p>
  </footer>
{% endblock content %}