{% extends 'scheduler/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="../static/scheduler/css/login.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div class="wrapper">
    <div class="logo">
        <img src="../static/scheduler/img/N.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        NESchedule
    </div>
    <form action="{% url 'scheduler:index' pk=1 %}" method="POST" class="p-3 mt-3">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <button class="btn btn-secondary login_button">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="{% url 'scheduler:reset_password' %}">Forget password?</a>
    </div>
</div>
{% endblock content %}


