{% extends 'scheduler/base.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="../static/scheduler/css/login.css">
<div class="wrapper">
    <div class="logo">
        <img src="../static/scheduler/img/N.jpg" alt="">
    </div>
    <div class="text-center mt-4 name">
        NESchedule
    </div>
    <br>
    <p style="text-align:center">Enter email to receive password verification form</p>
    <form action="{% url 'scheduler:email_reset_form' %}" method="POST" class="p-3 mt-3">
        {% csrf_token %}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>

        <button class="btn btn-secondary login_button">Reset Password</button>
    </form>
</div>



{% endblock content %}


